footer {
  width: 100%;
  min-height: 50px;
  background-color: orange;
  display: block;
  padding: 10px;
  text-align: center;
  align-items: center;
}

  a{
    color: black;
  }

  footer {
    @media screen and (max-width: 600px) {
      width: 600px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding-bottom: 15px;
      padding-right: 8px;
    }
  }