nav{
  width: 100%;
  min-height: 50px;
  background-color: red;
  display:flex;
  align-items: center;
  justify-content: right;
  font-size: 20px;
  font-family:"Bungee";


  a{
    text-decoration: none;
    margin-right: 10px;
    color:white
  }

  #hamburger{
    display:none;

    @media screen and (min-width: 600px) {
      display: inline;
    }
  }

  #menu-button{
    height: 40px;
    width: 40px;
    display: block;
    position:absolute;
    right:0;
    font-weight: bold;

    @media screen and (min-width: 600px) {
      display: none;
    }
  }

  #menu{
    min-height: 100px;
    width:120px;
    padding: 20px;
    background-color: red;
    position:absolute;
    text-align: center;
    right: 0px;
    top:50px;
    display:none;

    a{
      display:block;
      margin-top: 10px;
    }

  }
}